<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Test-Suite-A" >
    <test name="Test-Suite-A-Name" preserve-order="true" thread-count="10" parallel="methods">
        <classes>
            <class name="demo.FirstTest" />
            <class name="demo.SecondTest" />
        </classes>
    </test>
</suite>

